.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}


.carDataInput {
	padding: 8px 4px;
}

.action-btn {
	padding: 15px 32px;
	margin: 4px 50px;
	color: rgb(240, 235, 226);
	background-color: rgb(31, 33, 33);
	border-color: #585d5d;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	font-size: calc(1px + 1.8vmin);
	font-weight: bold;
	cursor: pointer;
	-webkit-user-select: none;	/* Safari */
	-ms-user-select: none;	/* IE 10 and IE 11 */
	user-select: none;	/* Standard syntax */
	border-radius: 5px;
}

#add-car-btn {
	background-color: rgb(81, 181, 45);
	border-color: rgb(167, 255, 152);
}

#update-car-btn {
	background-color: rgb(72, 159, 139);
	border-color: rgb(101, 243, 226);
	padding: 15px 20px;
}

#delete-car-btn {
	background-color: rgb(159, 72, 72);
	border-color: rgb(255, 121, 121);
	padding: 15px 15px;
}

#refresh-btn {
	padding-top: 8px;
	padding-bottom: 8px;
}

.carTableData {
	text-align: left;
	padding: 2px 15px;
}

.tableHeader {
	text-align: left;
	padding: 2px 15px;
}
